*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background: rgb(2,0,36);
  background-image: linear-gradient(to left, #020024, #020734, #000d44, #000e54, #000e64, #04207b, #043292, #0044aa, #006ac9, #008ee0, #00b1f2, #00d4ff);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.container-TheJeds-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.TheJeds-logo{
  border-radius: 30px;
  border: 2px solid white;
  height: 125px; 
}

.container-main{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}